<!doctype html>
<html lang="{{ .Params.lang | default "en" }}">
  <head>
    <title>
      {{- if .IsHome -}}
      {{ .Site.Title }}
      {{- else if .IsPage -}}
      {{ .Title }} - {{ .Site.Title }}
      {{- end -}}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="
        {{- with .Description -}}
          {{ . }}
        {{- else -}}
          {{- if .IsPage -}}
            {{ .Summary }}
          {{- else -}}
            {{- with .Site.Params.description -}}{{ . }}{{- end -}}
          {{- end -}}
        {{- end -}}"
    />
    {{ template "_internal/opengraph.html" . }}

    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "favicon.html" . }}

    {{ $style := resources.Get "css/dist/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    <nav>
      <h1>
        <a href={{ .Site.BaseURL }}>
          {{ .Site.Title }}
        </a>
      </h1>

      <section>
        {{ with .Site.Menus.main }}
          {{ range . }}
            <a href="{{ .URL }}" class="mr-2">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      </section>
    </nav>

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer>
      <p>
        {{ .Site.Copyright | markdownify }}
      </p>
    </footer>
  </body>
</html>
