{{ define "main" }}
<h1>
  {{ .Site.Params.Greeting | default "Welcome!" }}
</h1>

<p>
  {{ .Site.Params.Description | markdownify }}
</p>

<div class="grid grid-cols-[fit-content(200px)_1fr] gap-x-4 gap-y-2">
  {{ range where .Site.RegularPages "Section" "in" .Site.MainSections }}
  <time class="font-serif text-operandi-black-dim dark:text-vivendi-white-dim"
        datetime="{{ .Date.Format "2006-01-02" }}">
    {{ .Date.Format "Jan 2 2006" }}
  </time>

  <a href={{ .RelPermalink }}>
    {{ .Title }}
  </a>
  {{ end }}
</div>
{{ end }}
