@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline
           text-operandi-blue-warmer
           hover:bg-operandi-intense-blue
           dark:text-vivendi-blue-warmer
           dark:hover:bg-vivendi-intense-blue
           transition-colors;
  }

  h1 {
    @apply text-4xl font-extrabold
           text-operandi-black
           dark:text-vivendi-white;
  }

  h2 {
    @apply text-2xl font-bold
           text-operandi-yellow-faint
           dark:text-vivendi-yellow-faint;
  }

  h3 {
    @apply text-lg font-semibold
           text-operandi-black-alt
           dark:text-vivendi-blue-faint;
  }

  p {
    @apply my-4;
  }

  ol, ul {
    @apply m-0 p-0 list-none;
  }

  article {
    blockquote {
      @apply my-6 py-2 pl-6
             border-l-8 border-solid
             border-operandi-blue-warmer
             dark:border-vivendi-blue-warmer;
    }

    code {
      @apply text-sm font-mono
             text-operandi-magenta-warmer
             dark:text-vivendi-magenta-warmer;
    }

    h2 {
      @apply mt-6 mb-4;
    }

    h3 {
      @apply mt-5 mb-3;
    }

    h2, h3 {
      &:hover .headline-hash {
        @apply opacity-100 transition-opacity duration-700;
      }
    }

    ol, ul {
      @apply mx-6 my-4;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    .chroma {
      @apply p-2
             overflow-x-auto
             bg-operandi-white-dim
             dark:bg-vivendi-black-dim;

      .line {
        @apply text-operandi-black
               dark:text-vivendi-white;
      }

      .line.hl {
        @apply -m-1
               bg-operandi-gray
               border-l-4
               border-operandi-black-dim
               dark:bg-vivendi-gray
               dark:border-vivendi-white-dim;
      }
    }

    .footnotes {
      @apply mt-10;
    }
  }
}
