{{ define "main" }}
<article>
  <header class="mb-10">
    <h1>
      {{ .Title }}
    </h1>

    <time class="text-operandi-black-dim dark:text-vivendi-white-dim"
          datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
  </header>

  {{ partial "headline-hash.html" .Content }}
</article>

<nav class="mt-10">
  <hr class="border-t border-dashed">
  <ul class="mt-10 list-none space-y-8">
    {{ with .PrevInSection }}
    <li>
      <span>Previous:</span>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </li>
    {{ end }}

    {{ with .NextInSection }}
    <li>
      <span>Next:</span>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
