<article>
  <header class="my-4">
    {{ partial "state.html" . }}

    <h1>{{ .Title }}</h1>

    {{ partial "translations.html" . }}
  </header>

  {{ partial "toc.html" . }}
  {{ partial "headline-hash.html" .Content }}

  {{ with .Date }}
    <p class="article-meta">
      <span>Written on</span>
      <time datetime="{{ .Format "2006-01-02" }}">
        {{ .Format "Jan 2, 2006" }}
      </time>
      {{ if and $.Lastmod (ne ($.Lastmod.Format "2006-01-02") (.Format "2006-01-02")) }}
        <span>and updated on</span>
        <time datetime="{{ $.Lastmod.Format "2006-01-02" }}">
          {{ $.Lastmod.Format "Jan 2, 2006" }}
        </time>
      {{ end }}
    </p>
  {{ end }}
</article>
