<article class="p-4 rounded-2xl
                border border-operandi-gray dark:border-vivendi-gray
                shadow-xs hover:shadow-md transition-shadow">
  <header class="mb-4">
    <h1 class="text-base md:text-lg font-sans font-medium">
      <a href="{{ .RelPermalink }}"
         class="no-underline text-current hover:bg-transparent">
        {{ .Title }}
      </a>
    </h1>

    <time datetime="{{ .Date.Format "2006-01-02" }}"
          class="text-sm md:text-base text-operandi-black-dim dark:text-vivendi-white-dim">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </header>

  {{ .Content }}

  {{ with .Params.tags }}
    <ul class="tag-list">
      {{ range . }}
        <li class="tag-item">#{{ . }}</li>
      {{ end }}
    </ul>
  {{ end }}
</article>
