<article class="p-4 rounded-2xl
                border border-operandi-gray dark:border-vivendi-gray
                shadow-sm hover:shadow-md transition-shadow">
  <header class="mb-4">
    <h1 class="m-0 text-base font-semibold
               text-operandi-black
               dark:text-vivendi-white">
      <a href="{{ .RelPermalink }}" class="no-underline text-current hover:bg-transparent">
        {{ .Title }}
      </a>
    </h1>

    <time class="text-sm text-operandi-black-dim dark:text-vivendi-white-dim"
          datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
  </header>

  {{ .Content }}

  {{ with .Params.tags }}
  <div class="mt-4">
    <div class="flex flex-wrap gap-2">
      {{ range . }}
      <span class="px-3 py-1
                   rounded-full
                   text-sm
                   text-operandi-black-alt bg-operandi-subtle-blue
                   dark:text-vivendi-white-alt dark:bg-vivendi-subtle-blue">
        #{{ . }}
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}
</article>
