<article class="p-4 rounded-lg
                border border-operandi-gray dark:border-vivendi-gray
                hover:shadow-lg transition-shadow">
  <header class="mb-4">
    <h3 class="m-0 text-base text-operandi-black dark:text-vivendi-white">
      <a href="{{ .RelPermalink }}" class="no-underline text-current hover:bg-transparent">
        {{ .Title }}
      </a>
    </h3>

    {{ with .Date }}
    <time class="text-sm text-operandi-black-dim dark:text-vivendi-white-dim"
          datetime="{{ .Format "2006-01-02" }}">
      {{ .Format "January 2, 2006" }}
    </time>
    {{ end }}
  </header>

  {{ .Content }}
</article>
