{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>{{ .Description | markdownify }}</p>

<ul>
  {{ range .Pages }}
  <li>
    <article class="pb-4 border-b border-operandi-gray dark:border-vivendi-gray">
      {{ .Content }}

      <div class="text-sm text-operandi-black-dim dark:text-vivendi-white-dim">
        <time datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
          <a href="{{ .RelPermalink }}">{{ .Date.Format "3:04 PM" }}</a>
          on {{ .Date.Format "January 2, 2006" }}
        </time>

        {{ with .Params.tags }}
        <span class="text-operandi-blue-warmer dark:text-vivendi-blue-warmer">
          {{ delimit . ", " }}
        </span>
        {{ end }}
      </div>
    </article>
  </li>
  {{ end }}
</ul>
{{ end }}
